<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travelo - Your travel buddy</title>
    <link href = "../public/home.css" rel = "stylesheet" type = "text/css">
  </head>
  <body>
    <div class = "home-logo">
      <h1>TRAVELO </h1> <p>
         your travel buddy...</p>
    </div>
    <div class = "info">
        <p>Send or deliver things</p>
        <p>the easy way</p>
        <div class = "images">
          <img src = '../public/pics/send.svg'>
          <img src = '../public/pics/deliver.svg'>
        </div>
    </div>
    <button onclick = "location.href='/auth/google'"> SIGN IN WITH GOOGLE </button>
    <button onclick = "location.href='/auth/facebook'"> SIGN IN WITH FACEBOOK </button>
  </body>
</html>
